#heading {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#hoverArea {
    background-color: #000;
    color: antiquewhite;
    height: 100px;
    width: 100px;

}




.bodyText {
    color: brown;
    font-size: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: burlywood;
}

textarea {
    color: cornsilk;
    background-color: black;
}

button {
    background-color: orangered;
    color: white;
    border-color: orangered;
    font-weight: bold;
}